.command-card-list{
    position: fixed;
    top: 2%;
    right: 1%;
    background-color: whitesmoke;
    color: darkgreen;
    border-radius: 1%;
    padding: 1%;
    opacity: 0.8;
    width: fit-content;
    font-family: monospace;
}